.frame1
{
background-color:#5daacb;
height:444px;
width:741px;
padding:0px;
position:absolute;
}
.group2
{
width:396px;
height:398px;
left:321px;
top:27px;
position:absolute;
}
.group1
{
width:396px;
height:398px;
top:27px;
left:321px;
position:absolute;
}
.star
{
background-color:#ffffff;
height:15px;
width:15px;
top:50px;
left:421px;
position:absolute;
}
/* .star2
{
background-color:#ffffff;
height:15px;
width:15px;
top:65px;
left:395px;
position:absolute;
}
.star3
{
background-color:#ffffff;
height:15px;
width:15px;
top:86px;
left:371px;
position:absolute;
}
.star4
{
background-color:#ffffff;
height:15px;
width:15px;
top:168px;
left:326px;
position:absolute;
}
.star7
{
background-color:#ffffff;
height:15px;
width:15px;
top:199px;
left:321px;
position:absolute;
}
.star8
{
background-color:#ffffff;
height:15px;
width:15px;
top:234px;
left:321px;
position:absolute;
}
.star9
{
background-color:#ffffff;
height:15px;
width:15px;
top:269px;
left:326px;
position:absolute;
}
.star10
{
background-color:#ffffff;
height:15px;
width:15px;
top:301px;
left:339px;
position:absolute;
}
.star11
{
background-color:#ffffff;
height:15px;
width:15px;
top:331px;
left:358px;
position:absolute;
}
.star12
{
background-color:#ffffff;
height:15px;
width:15px;
top:356px;
left:382px;
position:absolute;
}
.star13
{
background-color:#ffffff;
height:15px;
width:15px;
top:379px;
left:408px;
position:absolute;
}
.star14
{
background-color:#ffffff;
height:15px;
width:15px;
top:396px;
left:442px;
position:absolute;
}
.star15
{
background-color:#ffffff;
height:15px;
width:15px;
top:406px;
left:477px;
position:absolute;
}
.star16
{
background-color:#ffffff;
height:15px;
width:15px;
top:410px;
left:517px;
position:absolute;
}
.star17
{
background-color:#ffffff;
height:15px;
width:15px;
top:401px;
left:563px;
position:absolute;
}
.star18
{
background-color:#ffffff;
height:15px;
width:15px;
top:384px;
left:605px;
position:absolute;
}
.star19
{
background-color:#ffffff;
height:15px;
width:15px;
top:360px;
left:637px;
position:absolute;
}
.star20
{
background-color:#ffffff;
height:15px;
width:15px;
top:330px;
left:666px;
position:absolute;
}
.star21
{
background-color:#ffffff;
height:15px;
width:15px;
top:297px;
left:686px;
position:absolute;
}
.star22
{
background-color:#ffffff;
height:15px;
width:15px;
top:264px;
left:697px;
position:absolute;
}
.star23
{
background-color:#ffffff;
height:15px;
width:15px;
top:224px;
left:702px;
position:absolute;
}
.star24
{
background-color:#ffffff;
height:15px;
width:15px;
top:184px;
left:699px;
position:absolute;
}
.star25
{
background-color:#ffffff;
height:15px;
width:15px;
top:144px;
left:689px;
position:absolute;
}
.star26
{
background-color:#ffffff;
height:15px;
width:15px;
top:110px;
left:671px;
position:absolute;
}
.star27
{
background-color:#ffffff;
height:15px;
width:15px;
top:77px;
left:643px;
position:absolute;
}
.star28
{
background-color:#ffffff;
height:15px;
width:15px;
top:51px;
left:611px;
position:absolute;
}
.star29
{
background-color:#ffffff;
height:15px;
width:15px;
top:36px;
left:576px;
position:absolute;
}
.star30
{
background-color:#ffffff;
height:15px;
width:15px;
top:27px;
left:531px;
position:absolute;
}
.star31
{
background-color:#ffffff;
height:15px;
width:15px;
top:28px;
left:486px;
position:absolute;
}
.star32
{
background-color:#ffffff;
height:15px;
width:15px;
top:36px;
left:449px;
position:absolute;
}
.star5
{
background-color:#ffffff;
height:15px;
width:15px;
top:112px;
left:351px;
position:absolute;
}
.star6
{
background-color:#ffffff;
height:15px;
width:15px;
top:138px;
left:336px;
position:absolute;
} */
.ellipse1
{
background-color:#ffffff;
height:365px;
width:365px;
top:42px;
left:336px;
position:absolute;
border-radius:50%;
}
.title
{
color:#372a53;
text-align:left;
vertical-align:text-top;
font-size:30px;
font-family:Inter;
left:40px;
top:38px;
width:141px;
height:44px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.title2
{
color:#d1ff71;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Inter;
left:40px;
top:92px;
width:286px;
height:58px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle1
{
background-color:#ffffff;
height:65px;
width:242px;
border-radius:5px;
top:234px;
left:51px;
position:absolute;
}
.frame2
{
height:47px;
width:229px;
padding:0px;
left:58px;
top:319px;
position:relative;
}
.group3
{
width:103px;
height:47px;
position:absolute;
}
.rectangle2
{
background-color:#253d79;
height:47px;
width:103px;
border-radius:5px;
}
.go
{
color:#ffffff;
background-color: unset;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:24px;
top:4px;
position:absolute;
width:55px;
}
.group4
{
width:103px;
height:47px;
top:0px;
left:126px;
position:absolute;
}
.rectangle22
{
background-color:#253d79;
height:47px;
width:103px;
border-radius:5px;
top:0px;
left:16px;
position:absolute;
}
.reset
{
color:#ffffff;
background-color: unset;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:24px;
top:4px;
width:90px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.chances
{
color:#2a2a2a;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
left:104px;
top:195px;
width:121px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ellipse2
{
background-color:#ffffff;
height:365px;
width:365px;
top:42px;
left:336px;
position:absolute;
border-radius:50%;
}
.jinro
{
height:387px;
width:317px;
left:528px;
top:189px;
position:absolute;
}
.result-area
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:43px;
font-family:Inter;
left:430px;
top: 150px;
width:177px;
height:127px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
